# Copy to backend.hcl and fill from bootstrap outputs:
#
# bucket         = "sns-x-prod-tfstate-ACCOUNT_ID"
# key            = "prod/terraform.tfstate"
# region         = "ap-northeast-1"
# dynamodb_table = "sns-x-prod-tf-lock"
# encrypt        = true

bucket         = "REPLACE_ME"
key            = "prod/terraform.tfstate"
region         = "ap-northeast-1"
dynamodb_table = "sns-x-prod-tf-lock"
encrypt        = true
